{% load static %}
<!DOCTYPE html>
    <body>
        <h3>상세 설명</h3>
            <p>2차 세계대전 이후 설립된 게뎁 농장은 유기농 인증 농장으로 여성의 고용 창출과 지역사회 발전에 기여하며 3대째 이어져 내려오는 오랜 역사를 가진 농장입니다. 게뎁 농장은 SCAA 인증을 받은 커피
            품질관리 실험실을 갖추고 있어 철처한 관리를 통해 스페셜티 커피를 생산합니다.</p>

            <button onclick="hideH3P()">사라져라 얍!</button>
            <button onclick="seemH3P()">나타나라 얍!</button>
            <a href="http://127.0.0.1:8000/showBig">게뎁 농장 커피</a>
            <a href="http://127.0.0.1:8000/main">팝업 창</a>
            <a href="http://127.0.0.1:8000/history">히스토리</a>

        <script src="{% static 'js/dom.js' %}"></script>
    </body>
</html>