<body>
    <div id="state"></div>
    <button id="pushState">pushState</button>
    <button id="replaceState">replaceState</button>
    <button onclick="goBack()">goBack</button>
    <button onclick="goForward()">goForward</button>
    <script>
        document.querySelector('#pushState').addEventListener('click', function () {
            history.pushState({ data: 'pushState' }, 'title을 pushState로', '/pushState.html') // 새로운 주소 추가
        }); // 즉시 실행 함수 1
            document.querySelector('#replaceState').addEventListener('click', function () {
        history.replaceState({ data: 'replace' }, 'title을 replaceState로', '/replace.html'); // 주소 바꾸기
        }); // 즉시 실행 함수 2
        window.addEventListener('popstate', function () {
            console.log('popstate', history.state);
            document.querySelector('#state').innerHTML = JSON.stringify(history.state);
        }); // 즉시 실행 함수 3
        function goBack() {
            window.history.back(); // window.history.go(-1);
        } 
        function goForward() {
            window.history.forward(); // window.history.back(-1);
        }
    </script>
</body>