{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>게뎁 농장</title>
        <link rel="stylesheet" href="{%static 'css/product.css'%}">
    </head>
</html>
<body>
    <center>
        <h1>[스페셜티 커피] 에디오피아 게뎁 내추럴 G1</h1>
        
            <img src="{% static 'images/게뎁G1.png' %}" alt="에디오피아 게뎁 내추럴 G1" id="cup" width="250" height="250">
            <div id="small-pic">
                <img src="{% static 'images/게뎁G1.png' %}" class="small">
                <img src="{% static 'images/coffee.jpg' %}" class="small">
                <img src="{% static 'images/coffee2.jpg' %}" class="small">
                <img src="{% static 'images/coffee3.jpg' %}" class="small">
            </div>
    </center>

    <div id="desc">
		<ul>
			<li>상품명 : [스페셜티 커피] 에디오피아 게뎁 내추럴 G1</li>
			<li class="bluetext">판매가 : 11,000원</li>
			<li>배송비 : 3,000원<br>(30,000원 이상 구매 시 무료)</li>
            <li>적립금 : 0원</li>
            <li>분쇄여부 : 
                <select>
                    <option>선택하세요.</option>
                    <option>원두 그대로</option>
                    <option>프렌치프레소용 분쇄</option>
                    <option>핸드드립/커피메이커용 분쇄</option>
                    <option>더치커피/모카포트용 분쇄</option>
                    <option>에스프레스용 분쇄</option>
                </select>
            </li>
            <li>원산지 : 에디오피아</li>
            <li>제조사 : 일산커피공장</li>
            <li>브랜드 : 일산커피공장</li>
            <button>구매하기</button><button>장바구니</button> 
        </ul>						
    </div>
    <center>
        <img src="{% static 'images/상세정보0.png' %}"><br>
        <img src="{% static 'images/상세정보.png' %}"><br>
        <img src="{% static 'images/상세정보2.png' %}">
    </center>
    <script src="{% static 'js/showBig.js' %}"></script>
</body>